<!DOCTYPE html>
<head>
    <h1>weather of <%= city%></h1>
</head>
<body>
    <h3>City = <%= city%><br></h3>
    <h3>Temprature(in celcius) = <%= temp%><br></h3>
    <h3>Humidity(in %) = <%= hmd%><br></h3>
    <h3>Pressure(in hPa) = <%= press%><br></h3>
    <h3>Wind = <%= wind%> m/s<br></h3>
</body>
</html>
